/* BaiTest4Form.css */
.Polaris-Layout__Section {
    margin-bottom: 16px;
  }
  
  .Polaris-Card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9fafb;
  }
  
  .Polaris-Button {
    margin-top: 20px;
  }
  .Polaris-Button--variantPrimary {
    background-color: orange !important;
    color: white !important;
    border: none !important;
  }
  
  .Polaris-Button--variantPrimary:hover {
    background-color: darkorange !important;
  }
  .icon-delete{
    position: absolute;
    top: 8px; /* Cách từ trên cùng */
    left: 8px; /* Cách từ bên trái */
    padding: 4px;
    background-color: transparent;
    border: none;
    color: red; /* Màu cho icon, có thể thay đổi */
    font-size: 16px; /* Kích thước icon */
  }